### Index

1. [Importing the libraries](#1.-Importing-the-libraries)
1. [Reading the dataset](#2.-Reading-the-dataset)
1. [Data Cleaning](#3.-Data-Cleaning)
1. [Checking and Handling missing values](#4.-Checking-and-Handling-missing-values)

## 1. Importing the libraries

In [1]:
from glob import glob
import pandas as pd

## 2. Reading the dataset

In [2]:
files = glob('data/*.csv')

files

['data/test.csv',
 'data/SubmissionFormat.csv',
 'data/training.csv',
 'data/labels.csv']

In [3]:
# Reading the training data and labels
train_data = pd.read_csv('data/training.csv')
train_labels = pd.read_csv('data/labels.csv')

# Reading the test data
test_data = pd.read_csv('data/test.csv')

In [4]:
train_data.shape

(59400, 40)

In [5]:
train_labels.shape

(59400, 2)

In [6]:
# Merging the training data and labels
train_data = train_data.merge(train_labels, on='id')

train_data.shape

(59400, 41)

## 3. Data Cleaning

In [7]:
train_data.head()

,id,amount_tsh,date_recorded,funder,gps_height,installer,longitude,latitude,wpt_name,num_private,...,water_quality,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group,status_group
0,69572,6000.0,2011-03-14,Roman,1390,Roman,34.938093,-9.856322,none,0,...,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe,functional
1,8776,0.0,2013-03-06,Grumeti,1399,GRUMETI,34.698766,-2.147466,Zahanati,0,...,soft,good,insufficient,insufficient,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe,functional
2,34310,25.0,2013-02-25,Lottery Club,686,World vision,37.460664,-3.821329,Kwa Mahundi,0,...,soft,good,enough,enough,dam,dam,surface,communal standpipe multiple,communal standpipe,functional
3,67743,0.0,2013-01-28,Unicef,263,UNICEF,38.486161,-11.155298,Zahanati Ya Nanyumbu,0,...,soft,good,dry,dry,machine dbh,borehole,groundwater,communal standpipe multiple,communal standpipe,non functional
4,19728,0.0,2011-07-13,Action In A,0,Artisan,31.130847,-1.825359,Shuleni,0,...,soft,good,seasonal,seasonal,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe,functional

### Getting the number of unique values in every column

In [8]:
for col in train_data.columns:
    print(col, train_data[col].nunique())

id 59400
amount_tsh 98
date_recorded 356
funder 1897
gps_height 2428
installer 2145
longitude 57516
latitude 57517
wpt_name 37400
num_private 65
basin 9
subvillage 19287
region 21
region_code 27
district_code 20
lga 125
ward 2092
population 1049
public_meeting 2
recorded_by 1
scheme_management 12
scheme_name 2696
permit 2
construction_year 55
extraction_type 18
extraction_type_group 13
extraction_type_class 7
management 12
management_group 5
payment 7
payment_type 7
water_quality 8
quality_group 6
quantity 5
quantity_group 5
source 10
source_type 7
source_class 3
waterpoint_type 7
waterpoint_type_group 6
status_group 3

If we observe the above values we can find that id column has unique values equal to the number of rows in the data.

### Checking for the columns that are having same data

In [9]:
train_data['extraction_type'].value_counts()

gravity                      26780
nira/tanira                   8154
other                         6430
submersible                   4764
swn 80                        3670
mono                          2865
india mark ii                 2400
afridev                       1770
ksb                           1415
other - rope pump              451
other - swn 81                 229
windmill                       117
india mark iii                  98
cemo                            90
other - play pump               85
walimi                          48
climax                          32
other - mkulima/shinyanga        2
Name: extraction_type, dtype: int64

In [10]:
train_data['extraction_type_group'].value_counts()

gravity            26780
nira/tanira         8154
other               6430
submersible         6179
swn 80              3670
mono                2865
india mark ii       2400
afridev             1770
rope pump            451
other handpump       364
other motorpump      122
wind-powered         117
india mark iii        98
Name: extraction_type_group, dtype: int64

In [11]:
train_data['extraction_type_class'].value_counts()

gravity         26780
handpump        16456
other            6430
submersible      6179
motorpump        2987
rope pump         451
wind-powered      117
Name: extraction_type_class, dtype: int64

**Conclusion:**

* If we observe the above features **extraction_type**, **extraction_type_group** and **extraction_type_class**.

* The features _extraction_type_ and _extraction_type_group_ are ambiguous and their values are aggregated to **_extraction_type_class_**.

In [12]:
train_data['management'].value_counts()

vwc                 40507
wug                  6515
water board          2933
wua                  2535
private operator     1971
parastatal           1768
water authority       904
other                 844
company               685
unknown               561
other - school         99
trust                  78
Name: management, dtype: int64

In [13]:
train_data['management_group'].value_counts()

user-group    52490
commercial     3638
parastatal     1768
other           943
unknown         561
Name: management_group, dtype: int64

**Conclusion:** Similarly values of **management** feature is aggregated into **management_group**

In [14]:
train_data['payment'].value_counts()

never pay                25348
pay per bucket            8985
pay monthly               8300
unknown                   8157
pay when scheme fails     3914
pay annually              3642
other                     1054
Name: payment, dtype: int64

In [15]:
train_data['payment_type'].value_counts()

never pay     25348
per bucket     8985
monthly        8300
unknown        8157
on failure     3914
annually       3642
other          1054
Name: payment_type, dtype: int64

**Conclusion:** Similarly values of **payment** feature is aggregated into **payment_type**

In [16]:
train_data['water_quality'].value_counts()

soft                  50818
salty                  4856
unknown                1876
milky                   804
coloured                490
salty abandoned         339
fluoride                200
fluoride abandoned       17
Name: water_quality, dtype: int64

In [17]:
train_data['quality_group'].value_counts()

good        50818
salty        5195
unknown      1876
milky         804
colored       490
fluoride      217
Name: quality_group, dtype: int64

**Conclusion:** Similarly values of **water_quality** feature is aggregated into **quality_group**

In [18]:
train_data['quantity'].value_counts()

enough          33186
insufficient    15129
dry              6246
seasonal         4050
unknown           789
Name: quantity, dtype: int64

In [19]:
train_data['quantity_group'].value_counts()

enough          33186
insufficient    15129
dry              6246
seasonal         4050
unknown           789
Name: quantity_group, dtype: int64

**Conclusion:** The value counts in **quantity** and **quantity_group** are all same

In [20]:
train_data['source'].value_counts()

spring                  17021
shallow well            16824
machine dbh             11075
river                    9612
rainwater harvesting     2295
hand dtw                  874
lake                      765
dam                       656
other                     212
unknown                    66
Name: source, dtype: int64

In [21]:
train_data['source_type'].value_counts()

spring                  17021
shallow well            16824
borehole                11949
river/lake              10377
rainwater harvesting     2295
dam                       656
other                     278
Name: source_type, dtype: int64

In [22]:
train_data['source_class'].value_counts()

groundwater    45794
surface        13328
unknown          278
Name: source_class, dtype: int64

**Conclusion:** Similarly values of **source**, **source_type** features are aggregated into **source_class**

In [23]:
train_data['waterpoint_type'].value_counts()

communal standpipe             28522
hand pump                      17488
other                           6380
communal standpipe multiple     6103
improved spring                  784
cattle trough                    116
dam                                7
Name: waterpoint_type, dtype: int64

In [24]:
train_data['waterpoint_type_group'].value_counts()

communal standpipe    34625
hand pump             17488
other                  6380
improved spring         784
cattle trough           116
dam                       7
Name: waterpoint_type_group, dtype: int64

**Conclusion:** Similarly values of **waterpoint_type** feature is aggregated into **waterpoint_type_group**

## Checking whether test data is also showing same behavior or not

In [25]:
test_data.shape

(14850, 40)

In [26]:
test_data['extraction_type'].value_counts()

gravity              6483
nira/tanira          2051
other                1672
submersible          1218
swn 80                918
mono                  763
india mark ii         629
afridev               438
ksb                   375
other - rope pump     121
other - swn 81         55
india mark iii         37
windmill               35
cemo                   18
other - play pump      16
walimi                 12
climax                  9
Name: extraction_type, dtype: int64

In [27]:
test_data['extraction_type_group'].value_counts()

gravity            6483
nira/tanira        2051
other              1672
submersible        1593
swn 80              918
mono                763
india mark ii       629
afridev             438
rope pump           121
other handpump       83
india mark iii       37
wind-powered         35
other motorpump      27
Name: extraction_type_group, dtype: int64

In [28]:
test_data['extraction_type_class'].value_counts()

gravity         6483
handpump        4156
other           1672
submersible     1593
motorpump        790
rope pump        121
wind-powered      35
Name: extraction_type_class, dtype: int64

In [29]:
test_data['management'].value_counts()

vwc                 10117
wug                  1593
water board           755
wua                   583
private operator      533
parastatal            461
other                 239
water authority       219
company               174
unknown               122
other - school         27
trust                  27
Name: management, dtype: int64

In [30]:
test_data['management_group'].value_counts()

user-group    13048
commercial      953
parastatal      461
other           266
unknown         122
Name: management_group, dtype: int64

In [31]:
test_data['payment'].value_counts()

never pay                6364
pay per bucket           2281
pay monthly              2097
unknown                  1992
pay when scheme fails     928
pay annually              928
other                     260
Name: payment, dtype: int64

In [32]:
test_data['payment_type'].value_counts()

never pay     6364
per bucket    2281
monthly       2097
unknown       1992
annually       928
on failure     928
other          260
Name: payment_type, dtype: int64

In [33]:
test_data['water_quality'].value_counts()

soft                  12687
salty                  1226
unknown                 469
milky                   201
coloured                133
salty abandoned          84
fluoride                 44
fluoride abandoned        6
Name: water_quality, dtype: int64

In [34]:
test_data['quality_group'].value_counts()

good        12687
salty        1310
unknown       469
milky         201
colored       133
fluoride       50
Name: quality_group, dtype: int64

In [35]:
test_data['quantity'].value_counts()

enough          8336
insufficient    3767
dry             1536
seasonal        1025
unknown          186
Name: quantity, dtype: int64

In [36]:
test_data['quantity_group'].value_counts()

enough          8336
insufficient    3767
dry             1536
seasonal        1025
unknown          186
Name: quantity_group, dtype: int64

In [37]:
test_data['source'].value_counts()

shallow well            4316
spring                  4195
machine dbh             2747
river                   2352
rainwater harvesting     568
hand dtw                 234
lake                     185
dam                      184
other                     49
unknown                   20
Name: source, dtype: int64

In [38]:
test_data['source_type'].value_counts()

shallow well            4316
spring                  4195
borehole                2981
river/lake              2537
rainwater harvesting     568
dam                      184
other                     69
Name: source_type, dtype: int64

In [39]:
test_data['source_class'].value_counts()

groundwater    11492
surface         3289
unknown           69
Name: source_class, dtype: int64

In [40]:
test_data['waterpoint_type'].value_counts()

communal standpipe             7106
hand pump                      4396
other                          1630
communal standpipe multiple    1508
improved spring                 175
cattle trough                    34
dam                               1
Name: waterpoint_type, dtype: int64

In [41]:
test_data['waterpoint_type_group'].value_counts()

communal standpipe    8614
hand pump             4396
other                 1630
improved spring        175
cattle trough           34
dam                      1
Name: waterpoint_type_group, dtype: int64

#### As we can observe the test data also has the same ambiguous columns

### Dropping ambiguous columns from train and test data

In [42]:
columns_to_drop = ['id', 'recorded_by', 'extraction_type', 'extraction_type_group', 
                   'management', 'payment', 'water_quality', 'quantity', 
                   'source', 'source_type', 'waterpoint_type']

train_data = train_data.drop(columns=columns_to_drop)

test_data = test_data.drop(columns=columns_to_drop)

## Dumping the cleaned data to CSV

In [43]:
train_data.to_csv('data/v1/train_cleaned.csv', index=False)
test_data.to_csv('data/v1/test_cleaned.csv', index=False)

### Till now the cleaned datasets do not contain any ambiguous columns.

In [44]:
# Reading cleaned data
train_data = pd.read_csv('data/v1/train_cleaned.csv', parse_dates=['date_recorded'])
test_data = pd.read_csv('data/v1/test_cleaned.csv', parse_dates=['date_recorded'])

## 4. Checking and Handling missing values

### a. Columns having missing values

In [45]:
train_data.columns[train_data.isnull().sum() > 0].tolist()

['funder',
 'installer',
 'subvillage',
 'public_meeting',
 'scheme_management',
 'scheme_name',
 'permit']

In [46]:
train_data.permit.unique()

array([False, True, nan], dtype=object)

In [47]:
train_data.public_meeting.unique()

array([True, nan, False], dtype=object)

In [48]:
train_data.scheme_management.unique()

array(['VWC', 'Other', nan, 'Private operator', 'WUG', 'Water Board',
       'WUA', 'Water authority', 'Company', 'Parastatal', 'Trust', 'SWC',
       'None'], dtype=object)

#### After doing research for the values in `scheme_management` the following things have been observed:
* WUG and WUA are all same
* Water Authority and Water Board, Parastatal
* Trust and SWC are non-profit based, VWC

#### Replacing will be done in the following way:
* WUA -> WUG
* VWC, SWC -> Trust
* Water authority -> Water Board
* Private Operator, Parastatal -> Company

In [49]:
temp_df = train_data.copy()

In [50]:
temp_df = temp_df.sort_values(by=['date_recorded', 'construction_year'])

In [51]:
temp_df.scheme_management.value_counts(dropna=False)

VWC                 36793
WUG                  5206
NaN                  3877
Water authority      3153
WUA                  2883
Water Board          2748
Parastatal           1680
Private operator     1063
Company              1061
Other                 766
SWC                    97
Trust                  72
None                    1
Name: scheme_management, dtype: int64

In [52]:
# temp_df['scheme_management'] = temp_df.scheme_management.str.replace('WUA', 'WUG')
# temp_df['scheme_management'] = temp_df.scheme_management.str.replace('VWC', 'Trust')
# temp_df['scheme_management'] = temp_df.scheme_management.str.replace('SWC', 'Trust')
# temp_df['scheme_management'] = temp_df.scheme_management.str.replace('Water authority', 'Water Board')
# temp_df['scheme_management'] = temp_df.scheme_management.str.replace('Parastatal', 'Water Board')
# temp_df['scheme_management'] = temp_df.scheme_management.str.replace('Private operator', 'Company')

In [53]:
temp_df.scheme_management.value_counts(dropna=False)

VWC                 36793
WUG                  5206
NaN                  3877
Water authority      3153
WUA                  2883
Water Board          2748
Parastatal           1680
Private operator     1063
Company              1061
Other                 766
SWC                    97
Trust                  72
None                    1
Name: scheme_management, dtype: int64

In [75]:
temp_df.loc[(temp_df.scheme_management == 'Other'), ['funder', 'scheme_management', 'scheme_name']]

                        funder scheme_management                scheme_name
13366                    Mgaya             Other                        NaN
31508                 Plan Int             Other                        NaN
33340   Government Of Tanzania             Other                        NaN
22574         District Council             Other                        NaN
1608                     Kuamu             Other                       Wasa
...                        ...               ...                        ...
52103                   Danida             Other                        NaN
55213  Songea Municipal Counci             Other                        NaN
57863  Songea Municipal Counci             Other  Mradi wa maji wa mjimwema
3725                    Sowasa             Other  Mradi wa maji wa mjimwema
52443                     Padi             Other                        NaN

[766 rows x 3 columns]